
@font-face {
    font-family: develop;
    src: url(dev.otf);
}

@font-face {
    font-family: xda;
    src: url(bbn.otf);
}

h3.head1{
    font-family: develop;
}

h3.head2{
    font-family: develop;
}

h3.head3{
    font-family: develop;
}

h3.head4{
    font-family: develop;
}

#databar{
    width: 1200px;
    height: 250px;
    margin: 0 auto;
    margin-top: 70px;
    border: 1px black;
    display: flex;
    justify-content: center;

}


.confirmed, .active, .recovered, .deceased {



    width: 250px;
    height: 200px;
    margin: 0px 40px;
    border: 1px solid #2c2a2a;
    border-radius: 10px;
    
    -webkit-border-radius: 10px;
    border-radius: 5px;
	-moz-box-shadow: 0 0 10px #2c2a2a;
	-webkit-box-shadow: 0 0 10px #2c2a2a;
    box-shadow: 0 0 10px #2c2a2a;
    transition: 0.4s;
}

.confirmed:hover{
    transform: scale(1.1);
}
.active:hover{
    transform: scale(1.1);
}
.recovered:hover{
    transform: scale(1.1);
}
.deceased:hover{
    transform: scale(1.1);
}


/* CONFIRMED */


.confirmed{
    background-color: #0c1c30;
    border: 0px;
    /*background-image: linear-gradient(to bottom right, rgb(114, 6, 6), rgb(37, 1, 1));
    */
}

.head1{
    height: 30px;
    top: 2px;
    position: relative;
}

h3.head1{
    text-align: center;
    font-size: 25px;
    color: whitesmoke;
    letter-spacing: 2px;
    font-weight: bolder;
}

.data1{
    top: 20px;
    color: #f44336;
    text-align: center;
    position: relative;
    font-family: xda;
    letter-spacing: 4px;
    font-size: 70px;

}

/* ACTIVE */


.active{
    background-color: #0c1c30;
    border: 0px;
    /*background-image: linear-gradient(to bottom right, rgb(114, 6, 6), rgb(37, 1, 1));
    */
}


.head2{
    height: 30px;
    top: 2px;
    position: relative;
}

h3.head2{
    text-align: center;
    font-size: 25px;
    color: whitesmoke;
    letter-spacing: 2px;
    font-weight: bolder;
}

.data2{
    top: 20px;
    color: #8080ff;
    text-align: center;
    position: relative;
    font-family: xda;
    letter-spacing: 4px;
    font-size: 70px;

}

/* RECOVERED */


.recovered{
    background-color: #0c1c30;
    border: 0px;
    /*background-image: linear-gradient(to bottom right, rgb(114, 6, 6), rgb(37, 1, 1));
    */
}


.head3{
    height: 30px;
    top: 2px;
    position: relative;
}

h3.head3{
    text-align: center;
    font-size: 25px;
    color: whitesmoke;
    letter-spacing: 2px;
    font-weight: bolder;
}

.data3{
    top: 20px;
    color: #53ff1a;
    text-align: center;
    position: relative;
    font-family: xda;
    letter-spacing: 4px;
    font-size: 70px;

}

/* DECEASED */


.deceased{
    background-color: #0c1c30;
    border: 0px;
    
    /*background-image: linear-gradient(to bottom right, rgb(114, 6, 6), rgb(37, 1, 1));
    */
}


.head4{
    height: 30px;
    top: 2px;
    position: relative;
}

h3.head4{
    text-align: center;
    font-size: 25px;
    color: whitesmoke;
    letter-spacing: 2px;
    font-weight: bolder;
}



.data4{
    top: 20px;
    color: #e6e6e6;
    text-align: center;
    position: relative;
    font-family: xda;
    letter-spacing: 4px;
    font-size: 70px;

}